<div class="home-component">
     <div class="container">
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
          <div class="row">
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Social-Medias" alt="" />
                         </div>
                    </div>
               </div>

               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Laptops" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Mobiles" alt="" />
                         </div>
                    </div>
               </div>
               <div class="col-md-3">
                    <div class="card-image">
                         <div class="card">
                              <img src="https://source.unsplash.com/random/?Girls" alt="" />
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
