.home-component {
     padding: 10px 12px;

     .card-image {
          .card {
               padding: 10px;
               margin: 4px;
               box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
               height: 200px;
               overflow: hidden;

               img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
               }
          }
     }
}
.background-color {
     background-color: #9870d4 !important;
}
.findout-button {
     background-color: #563d7c !important;
     color: #fff;
     font-weight: 500;

     &:hover {
          background-color: #9870d4 !important;
     }
}
.background-color2 {
     background-color: #f3f6fc !important;
}
