<div class="container">
     <div class="row">
          <div class="col-12 col-md-12 col-xs-12 col-lg-12">
               <!-- <div class="login-container"> -->
               <div class="background-image">
                    <img src="assets/login/image/background.jpg" alt="__" />
               </div>
               <div class="login-card">
                    <div class="side">
                         <p>Social Sync</p>
                         <img src="assets/login/image/login-image.jpg" alt="__" />
                    </div>
                    <form action="" class="from">
                         <h2>SIGN IN</h2>
                         <input type="email" name="email" class="box" placeholder="you@example.com" />
                         <input type="password" name="password" class="box" placeholder="Your Password" />
                         <input type="submit" value="SIGN IN" id="submit" />
                         <a href="#">Forgot passsword?</a>
                    </form>
               </div>
               <!-- </div> -->
          </div>
     </div>
</div>
