<div class="container">
     <div class="row">
          <div class="col-12 col-md-12 col-xs-12 col-lg-12">
               <div class="background-image">
                    <img src="assets/login/image/background.jpg" alt="__" />
               </div>
               <div class="login-card">
                    <p class="app-name">
                         <span> <img src="assets/home-page/assets/favicon.ico" alt="" /> </span> Social Sync
                    </p>
                    <div class="side">
                         <img src="assets/login/image/login-image.png" alt="__" />
                    </div>
                    <form action="" class="from">
                         <p class="new-user">New user? <a href="#">Sing Up</a></p>
                         <h4>Welcome Back!</h4>
                         <p>Login to Continue</p>
                         <input type="email" name="email" class="box" placeholder="you@example.com" />
                         <input type="password" name="password" class="box" placeholder="Your Password" />
                         <input type="submit" value="Login" id="submit" />
                         <a class="forgot-pass" style="margin-top: 30px" href="#">Forgot passsword?</a>
                    </form>
               </div>
          </div>
     </div>
</div>
