* {
     font-family: 'Poppins', sans-serif;
}
.background-image {
     position: absolute;
     height: 100%;
     width: 100%;
     object-fit: cover;

     img {
          height: 100%;
          width: 100%;
          object-fit: cover;
     }
}

.login-card {
     display: flex;
     position: relative;
     height: 500px;
     width: 800px;
     margin: auto;
     box-shadow: 10px 10px 15px #000;
     margin-top: 50px;

     .app-name {
          position: absolute;
          margin-top: 20px;
          font-weight: 600;
          padding: 10px;

          span {
               img {
                    height: 20px;
                    font-weight: 600;
               }
          }
     }
}
.from {
     display: flex;
     flex-direction: column;
     width: 50%;
     align-items: center;
     background-color: #f5f5f5;
     h4 {
          font-size: 32px;
          margin-top: 50px;
     }
     input {
          border: 1px solid #543c79;
          outline: none;
          border-radius: 5px;
     }

     .new-user {
          position: absolute;
          margin-top: 15px;
          margin-left: 130px;
          font-weight: 400;
     }
}
.box {
     padding: 12px;
     width: 65%;
     margin: 15px;
     border: 1px solid #000;
     outline: none;
     border-radius: 20px;
}
#submit {
     padding: 12px 30px;
     width: 40%;
     margin-top: 10px;
     transition-duration: 0.3s ease;
     color: #fff;
     font-weight: bold;
     border: none;
     outline: none;
     border-radius: 20px;
     background-color: #7252a3;
}
#submit:hover {
     background-color: #543c79;
     cursor: pointer;
}

.side {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     background-color: #f5f5f5;
}

.side img {
     width: 450px;
     height: auto;
}
