@import '../../../../../assets/styles/variable.scss';

.pics-settings-component {
  padding: 10px 12px;

  .setting-card {
    background-color: white;
    box-shadow: $globalBoxShadow;
    padding: 8px 8px;
    margin: 4px 4px;

    .title-and-action-button {
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;

      .title {
        font-size: 16px;
        font-weight: 600;
        color: rgb(64, 64, 64);
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
      }

      .action-button {
        margin-top: auto;
        margin-bottom: auto;
      }
    }

    .all-categories {
      .checkbox-and-name {
        padding: 4px 4px;
        display: flex;
        justify-content: flex-start;

        .check-box {
          margin-top: auto;
          margin-bottom: auto;
          padding: 0px 10px;

          input {
            height: 20px;
            width: 20px;
            margin-top: 6px;
            cursor: pointer;
          }
        }

        .name {
          margin-top: auto;
          margin-bottom: auto;
          font-size: 16px;
          font-weight: 600;
          color: grey;
        }
      }
    }
  }
}