<div class="pics-settings-component">
     <div class="container">
          <div class="row">
               <div class="col-md-12">
                    <div class="setting-card">
                         <div class="row">
                              <div class="col-md-12">
                                   <div class="title">
                                        <button class="btn btn-info" (click)="goToBack()">Apply</button>
                                   </div>
                                   <div class="divider"></div>
                              </div>
                         </div>
                         <div class="all-categories">
                              <div class="row">
                                   <ng-container *ngFor="let element of allImageCategories">
                                        <div class="col-md-3">
                                             <div class="checkbox-and-name">
                                                  <div class="check-box">
                                                       <input (change)="toggleCategory(element)" [checked]="element.isActive" type="checkbox" name="" id="" />
                                                  </div>
                                                  <div class="name">
                                                       {{ element.name }}
                                                  </div>
                                             </div>
                                        </div>
                                   </ng-container>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
