.sidebar {
     margin-top: 5px;

     .sidebar-button {
          padding: 10px 16px;
          border: 2px solid #543c79;
          border-radius: 10px;
          margin: 4px 0px;
          font-weight: bold;
          font-size: 16px;
          color: #563d7c;
          cursor: pointer;

          span {
               cursor: pointer;
               font-size: 16px;
               font-weight: 500;
          }

          &:hover {
               background-color: #e8e8e8ba;
          }
     }
}
.sidebar .sidebar-button.active {
     background-color: #d1d0d0ba;
}
