<div class="signup-form">
     <button type="button" class="close-button"><i class="fas fa-times"></i></button>
     <div class="container-fluid">
          <div class="row">
               <div class="col-12 col-md-5 col-lg-5 col-xs-5 pos">
                    <div class="signup-form-left">
                         <img src="assets/home-page/assets/favicon.ico" alt="" class="brand-img" />
                         <h4>Welcome to Social Sync</h4>
                    </div>
               </div>
               <div class="col-12 col-lg-7 col-xs-7 col-md-7 dis-tbl">
                    <div class="signup-form-field">
                         <h5>Create Account</h5>
                         <p>
                              Already User? &nbsp; <span><a href="#">Login</a></span>
                         </p>
                         <div class="signup-form-container">
                              <form action="">
                                   <div class="row">
                                        <div class="col-md-6">
                                             <div class="input-group">
                                                  <input type="text" placeholder="First Name" />
                                                  <label for="">First name</label>
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="input-group">
                                                  <input type="text" placeholder="Last Name" />
                                                  <label for="">Last Name</label>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="input-group">
                                        <input type="email" placeholder="Email" />
                                        <label for="">Email</label>
                                   </div>
                                   <div class="row">
                                        <div class="col-md-6">
                                             <div class="input-group">
                                                  <input type="password" placeholder="Password" />
                                                  <label for="">Password</label>
                                             </div>
                                        </div>
                                        <div class="col-md-6">
                                             <div class="input-group">
                                                  <input type="password" placeholder="Confirm Password" />
                                                  <label for="">Confirm Password</label>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="terms-condition">
                                        <span
                                             ><input type="checkbox" />
                                             <p>I agree to the Terms and Condition</p></span
                                        >
                                   </div>
                                   <div class="input-group">
                                        <button class="signup-btn" type="submit">Signup</button>
                                   </div>
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
