<div class="about-us">
     <div class="container">
          <div class="row">
               <div class="col-md-12 col-12 col-lg-12 col-xs12">
                    <div class="about-us-content">
                         <div class="headline">
                              <h2>About Us</h2>
                         </div>
                         <div class="content">
                              <p>Social Sync is a one-stop social media management platform that helps you create, publish, and analyze content across all of your social media channels. We offer a variety of features to help you save time and improve your social media results, including:</p>
                         </div>
                    </div>
                    <div class="features">
                         <p>Post scheduler: <span>Schedule posts to be published on all of your social media channels at the best time to reach your audience.</span></p>
                         <p>Content calendar: <span>Plan your social media content in advance and see how it will look across all of your channels.</span></p>
                         <p>Analytics: <span>Track your social media performance and identify areas for improvement.</span></p>
                         <p>Free image resources: <span>Access a library of over 1 million free images to use in your social media posts.</span></p>
                         <p>Image editor tools: <span>Edit your images before you publish them to make them look their best.</span></p>
                         <p>Download: <span>Download your posts as images or videos to share on other platforms.</span></p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container">
          <div class="row">
               <p>In addition to these features, Social Sync also offers a variety of other tools and resources to help you manage your social media presence, including:</p>
          </div>
     </div>
</div>
